:root {
  --clr-primary: #E5E5E5;
  --clr-light:  rgb(236, 236, 236);
  --clr-dark: #C4C4C4;
  --clr-warning: rgb(99, 36, 36);
  --clr-cardBackground: #E0E0E0;
}

*,
*::before,
*::after {
  font-family: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  background-color: var(--clr-dark);
  color: #000000;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  grid: "header header header header" auto "load load load jumpers" auto "load load load jumpers" auto / 1fr 1fr 1fr 2fr;
}

.header-menu {
  position: relative;
  grid-area: header;
  text-align: center;
  background: var(--clr-cardBackground);
  margin-bottom: 0.5em;
}

ul {
  list-style: none;
  padding: 0;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
}

.next-load {
  width: 10%;
  margin: 1em;
  -webkit-box-flex: 1.5;
      -ms-flex-positive: 1.5;
          flex-grow: 1.5;
  background: var(--clr-dark);
}

.weather {
  width: 10%;
  margin: 1em;
  float: right;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: var(--clr-dark);
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 1em;
}

.nav-menu:hover {
  cursor: pointer;
}

span {
  width: 5vw;
  height: 1vh;
  margin: .15em;
  margin-right: 1em;
  background: var(--clr-dark);
}

.jumper-list-container {
  grid-area: jumpers;
  position: relative;
  background: var(--clr-cardBackground);
  margin: 0.25em;
  height: 80vh;
}

.jumper-list-container .header {
  text-align: center;
}

.jumper-list-container .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid black;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.jumper-list-container .tab {
  cursor: pointer;
  padding: 10px;
}

.jumper-list-container .tab:hover, .jumper-list-container .tab.active {
  background: var(--clr-light);
}

.jumper-list-container .jumper-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  height: 50vh;
  margin: 1em;
  background: var(--clr-dark);
}

.jumper-list-container .jumper-list .jumper {
  display: -ms-grid;
  display: grid;
  margin-bottom: 5px;
  margin-right: 1em;
  margin-left: 1em;
  background: var(--clr-light);
}

.jumper-list-container .jumper-list .jumper:hover {
  background: var(--clr-primary);
  cursor: -webkit-grab;
  cursor: grab;
}

.jumper-list-container .jumper-list .active-jumper {
  background: var(--clr-cardBackground);
}

.jumper-list-container .jumper {
  padding-left: 1em;
  background: var(--clr-cardBackground);
}

.jumper-list-container .jumper-menu {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jumper-list-container .jumper-menu form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.jumper-list-container .jumper-menu form .new-jumper {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  border: 0;
  background: 0;
  border-bottom: 1px solid currentColor;
  font-size: 1em;
  -webkit-transition: border-bottom 250ms ease-in;
  transition: border-bottom 250ms ease-in;
  outline: none;
}

.jumper-list-container .jumper-menu form .new-jumper:focus {
  border-bottom: 3px solid currentColor;
}

.jumper-list-container .jumper-menu form button {
  background: 0;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  font-size: 1em;
  font-weight: bold;
}

.jumper-list-container .jumper-menu .delete-jumper {
  background: 0;
  outline: none;
  position: relative;
  margin-left: 1em;
}

.custom-checkbox {
  display: inline-block;
}

.load-container {
  grid-area: load;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 1.2em;
  position: relative;
  height: 80vh;
}

.load-container .dot-container {
  margin-left: 5%;
  margin-bottom: 5%;
  float: left;
}

.load-container .dot-container:hover {
  cursor: -webkit-grab;
  cursor: grab;
}

.load-container .draggable-dots {
  width: 7px;
  height: 7px;
  margin-top: 5px;
  background-color: var(--clr-dark);
  border-radius: 50%;
}

.load-container .load-header {
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 5%;
  text-align: center;
}

.load-container .load-card {
  float: left;
  position: relative;
  background: var(--clr-cardBackground);
  margin: 0.25em 0.5em 0.25em 0.5em;
  width: 30%;
  min-width: 150px;
  height: 50%;
  min-height: 30%;
  font-size: 1.1rem;
  text-align: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.load-container .load-card li {
  text-align: left;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin-bottom: 10px;
  width: calc(100% - 2em);
  position: relative;
  padding-left: 1em;
  margin-left: 1em;
  margin-right: 1em;
  background: var(--clr-dark);
}

.load-container .load-card li:hover {
  cursor: -webkit-grab;
  cursor: grab;
}

.load-container .load-card .buttons {
  position: absolute;
  bottom: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em;
}

.load-container .load-card button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0.5em;
}

.add-load-button {
  position: absolute;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  font-weight: bold;
  padding: 0;
  margin: 0.25em;
  width: 30px;
  height: 30px;
  bottom: 0;
  right: 0;
  font-size: 1.5rem;
  border-radius: 50%;
  outline: none;
}
/*# sourceMappingURL=styles.css.map */